


<div class="col-sm-6">
	<div class="shopping-item">
		<a href="{{ path('user_cart') }}">Cart - <span class="cart-amunt">€ {{ total }}</span> <i
					class="fa fa-shopping-cart"></i>
			<span class="product-count">{{ items }}</span></a>
	</div>
</div>
